<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
<!--
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=onlineexam;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
     Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename="F:\Online-Examination-System-in-ASP.net-Source-Code\ONLINE EXAM\App_Data\onlineexam.mdf";Integrated Security=True
-->
	<connectionStrings>
		<add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\aspnet5\ONLINE-EXAM-master\App_Data\onlineexam.mdf;Integrated Security=True"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
	<appSettings>
		<add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
	</appSettings>
</configuration>
